[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymystem3 = "*"
pandas = "*"
asyncio = "*"
aiofiles = "*"
ujson = "*"

[requires]
python_version = "3.8"
